.board {
  text-align: center;
}
.board table {
  border-spacing: 0;
  display: inline-block;
}
.board td {
  border: 1px solid black;
  position: relative;
}
.board td:hover {
  background-color: gray;
}
